.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 1rem;
}

.column-reverse {
	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	padding: 0;
}

.delete-form {
	display: inline;
}

h1 {
	text-align: center;
}